/* IMPORT */
@import "vrmx";
@import "media";

/* RESET CSS */
* {
    overflow: hidden;
  margin: 0;
  padding: 0;
}

/* GRID AREAS */
.header__nav{
grid-area:hn;
}
header {
  grid-area: h;
}
main {
  grid-area: m;
}
footer {
  grid-area: f;
}
/* GRID AREAS */

/* HTML BODY */
html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;
}
.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "h" "m" "f";
}
/* HTML BODY */

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
      padding:2px;
      border-radius:5px;
    a {
      @include button;
    }
  }
  /* NAV */
  .header__nav {
    ul {
      display: flex;
      list-style: none;
      gap: 100px;
      li {
          padding: 6px;
        a {
          @include button;
        }
      }
    }
  }
}
/*MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
      font-weight: 200;
    animation-name: appear-r;
    animation-duration: 1s;
    font-size: 42px;
    color: $principal-layout;
  }
  a.home {
    animation-name: appear-r;
    animation-duration: 1s;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    margin: 25px;
    background-color: $principal-layout;
    font-size: 32px;
    text-decoration: none;
    color: black;
    width: 250px;
    transition: 1s;
    &:hover {
      padding: 20px;
      font-size: 36px;
      transition: 1s;
    }
  }
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* PRODUCTOS */
/* QUIENES SOMOS */
.about {
  justify-content: start;
  h2 {
    font-weight: 300;
    color: $principal-layout;
    margin: 50px;
    animation-name: appear-r;
    animation-duration: 1s;
  }
  .cards {
    display: flex;
    gap: 100px;
    .card1 {
      animation-name: appear-d;
      animation-duration: 2s;
    }
    .card2 {
      animation-name: appear-d;
      animation-duration: 2s;
    }
    .card3 {
      animation-name: appear-d;
      animation-duration: 2s;
    }
    .card {
      height: 320px;
      width: 250px;
      border-radius: 10px;
      background-color: rgb(8, 8, 8);
      padding: 30px;
      transition: 1s;
      box-shadow: 1px 1px 1px 3px rgb(4, 4, 4);
      &:hover {
        transform: translateY(-20px);
        transition: 1s;
      }
      h2 {
        text-align: center;
      }
      p {
        color: $principal-layout;
        text-align: center;
      }
    }
  }
}
/* CONTACTO */
.main-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}
.contact-section-left {
    animation-name: appear-l;
    animation-duration: 3s;
  grid-area: left;
  width: 100%;
  height: 100%;
  .acordeon .bloque.activo .contenido{
      height: 4em;
      color:white;
  }
  .acordeon {
      height: 80%;
      display:flex;
      flex-direction: column;
      justify-content:space-between;
      padding:2em;
    .bloque {
        text-align: center;
        margin:0 0 1em;
        padding:0.2em;
        display:flex;
        flex-direction: column;
        justify-content: center;
align-items: center;

    }
    .contenido {
        transition: all 1s ease;
height: 0;
padding:0em;
overflow: hidden;
    }
    .h2 {
        cursor:pointer;
      margin: 15px;
      font-weight: 300;
      font-size: 32px;
      color: white;
      padding:6px;
      border-radius:10px;
      transition: 1s;
      &:hover{
        background-color: white;
        color:black;
        transition: 1s;
    }
    }
  }
}
.contact-section-right {
    animation-name: appear-d;
    animation-duration: 2s;
  display: flex;
  align-items: start;
  gap: 20px;
  flex-direction: column;
  grid-area: right;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgb(8, 8, 8);
  h1 {
    margin: 10px;
    font-weight: 300;
    font-size: 32px;
  }
  #textarea {
      
    height: 100px;

}
  .e-mailinput {
    width: 180px;
  }
  input {
    border: 0;
    background-color: rgb(8, 8, 8);
    padding: 10px;
    margin: 10px;
    width: 400px;
    &::placeholder {
      color: white;
    }
  }
  .div-button{
display:flex;
width: 73%;
justify-content: center;

  button.botonform {
    background-color: rgb(16, 16, 16);
    padding: 16px;
    border: 0px;
    color: white;
    width: 420px;
    transition: 1s;
    border: 1px solid black;
    font-size: 16px;
    
    &:hover {
      border: 1px solid white;
      cursor: pointer;
      transition: 1s;
    }
  }
}
}
/* CONTACTO */


/* PRODUCTS */
.main-products{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:100% 90%;
    grid-template-areas:"navprod right-p" "down-s down-s";
    .right-products{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        grid-area:right-p;
        gap:100px;
        animation-name: appear-r;
        animation-duration: 2s;
        .comm{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
background-color: rgb(8, 8, 8);
padding:16px;
border-radius:10px;
        }
        .viewprod{
          font-weight: 200;
          width: 100%;
text-decoration: none;
color:white;
font-size: 24px;
transition: 1s;
border:1px solid rgb(8, 8, 8);
padding:2px;
border-radius:5px;
text-align: center;
&:hover{
color:white;
border:1px solid white;
}
        }
        h2{
            color:white;
            font-weight: 300;
        }
    }
.nav-products{
    animation-name:appear-l;
    animation-duration: 1s;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    height: 100%;
    width: 100%;
grid-area:navprod;
nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    ul{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:25px;
        align-items: center;
        li{
            transition: 1s;
            padding:6px;
            border-radius: 10px;
            &:hover{
                background-color: white;
                color:black;
                transition: 1s;
                transform: translateX(10px);
            }
            a{
              font-weight: 200;
                width: 100%;
text-decoration: none;
color:white;
font-size: 24px;
transition: 1s;
&:hover{
    color:black;
}
            }
        }
    }
}
}
}
/* PRODUCTS CATH */
.prod-cath{
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas:"cathtitle" "cathgall";

}
.cath-title{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
grid-area:cathtitle;
text-align:center;
.navback{
  padding:10px;

a{
  text-decoration: none;
  margin:10px;
  padding: 6px;
  border: 0px;
  border-radius: 5px;
  color: white;
  transition: 1s;
  border: 1px solid black;
  font-size: 16px;
  background-color: rgb(8, 8, 8);
  &:hover {
    border: 1px solid white;
    cursor: pointer;
    transition: 1s;
  }
}
}
  h1{
    padding:0;
    font-size: 24px;
  }
}
.cath-gall{
display:flex;
justify-content: center;
  grid-template-rows: 50% 50%;
  flex-wrap: wrap;
grid-area:cathgall;
gap:40px;
.card-pd{
  padding:10px;
  animation-name:appear-r;
  animation-duration: 3s;
  display:flex;
  flex-direction: column;
  background-color: rgb(8, 8,8 );
  h2{
    color:$principal-layout;
    font-weight: 100;
    text-align: center;
  }
button{
    background-color: rgb(16, 16, 16);
    padding: 16px;
    border: 0px;
    color: white;
    transition: 1s;
    border: 1px solid rgb(8, 8, 8);
    font-size: 16px;
    &:hover {
      border: 1px solid white;
      cursor: pointer;
      transition: 1s;
    }
}

}
}